node_modules/
.expo/
.expo-shared/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log

# Environment variables
.env
.env.local
