rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users collection rules
    // All business logic checks are handled in application code
    match /users/{userId} {
      allow create, read, update, delete, list: if request.auth != null;
    }
    
    // Ladders collection rules
    // All business logic checks are handled in application code
    match /ladders/{ladderId} {
      allow create, read, update, delete, list: if request.auth != null;
    }
    
    // Ladderteams collection rules
    // All business logic checks are handled in application code
    match /ladderteams/{teamId} {
      allow create, read, update, delete, list: if request.auth != null;
    }
    
    // Teaminvites collection rules
    // All business logic checks are handled in application code
    match /teaminvites/{inviteId} {
      allow create, read, update, delete, list: if request.auth != null;
    }
    // Teaminvites collection rules
    // All business logic checks are handled in application code
    match /matchups/{matchupId} {
      allow create, read, update, delete, list: if request.auth != null;
    }
  }
}
